﻿@model PIMobile.Models.EditViewModels.InputElements

@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>@Model.Name</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @foreach (var element in Model.Elements)
        {
            <div class="col-md-offset-2 col-md-10">
                @Html.EditorFor(x => element)
            </div>
        }
    </div>
</div>
