﻿@model IEnumerable<PIMobile.Models.StudyViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Studies</h2>
<div class="list-group">
@foreach (var item in Model)
{
    @Html.ActionLink(item.Name, "Sites", item, new { @class = "list-group-item" })  
}
</div>

