﻿@model PIMobile.Models.SiteViewModel

@{
    ViewBag.Title = "Options";
}

<h2>Options</h2>
<div class="list-group">
        @Html.ActionLink("Payments", "#", @Model, new { @class = "list-group-item" })
        @Html.ActionLink("Contacts", "#", @Model, new { @class = "list-group-item" })
        @Html.ActionLink("Adverse Events", "#", @Model, new { @class = "list-group-item" })
        @Html.ActionLink("Subject Enrolment ", "#", @Model, new { @class = "list-group-item" })
</div>
